<!--pattern-->
<div class="head bg-pattern text-light position-absolute">
  <h1 class="display-4 heading p-4">BiPOLAR <span class="font-weight-bold text-warning text-uppercase">lodging</span>
  </h1>
</div>


<div class="container-fluid height-100 center-pos">
  <div class="signup-div pl-5 pr-5 pt-2 pb-2 border bg-white">
    <div class="text-center text-uppercase text-muted">signup</div>
    <hr>

    <form method="dialog">
      <div class="form-group">
        <input type="number" class="form-control mb-3" placeholder="Apartment No." (keyup)='enterApt($event)' required>
        <input type="text" class="form-control mb-3" placeholder="Name" (keyup)='enterName($event)' required>
        <input type="password" class="form-control" placeholder="Password" (keyup)='enterPassword($event)' required>
      </div>

      <button type="submit" class="btn btn-warning pb-2 pt-2 mt-4 mb-4 rounded-0 signup text-left"
        (click)="signup()">SIGNUP</button>
    </form>
    <div class="font-small">Already here? <a href="">login</a></div>
  </div>
</div>
