<!--pattern-->
<div class="head bg-pattern text-light position-absolute">
  <h1 class="display-4 heading p-4 mt-3">BiPOLAR <span class="font-weight-bold text-warning text-uppercase">lodging</span>
  </h1>
</div>

<div class="container-fluid height-100">
  <!--login-->
  <div class="border login-div pl-5 pr-5 pt-2 pb-2 bg-white">
    <div class="text-center text-muted text-uppercase">login</div>
    <hr>

    <div class="form-group">
      <input type="text" class="form-control mb-3" placeholder="Apartment No.">
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="switch1">
      <label class="custom-control-label text-muted" for="switch1">Show Password</label>
    </div>

    <button type="button" class="btn btn-warning pb-2 pt-2 mt-4 mb-4 rounded-0 login">LOGIN</button>
    <div class="font-small">New to the family? <a href="/signup">Signup</a></div>
  </div>
</div>
