/* You can add global styles to this file, and also import other style files */
* {
  padding: 0px;
  margin: 0px;
}

.bg-pattern {
  background: url('../src/assets/pattern/shattered-island.gif');
  background-repeat: repeat;
  background-position: center;
}

.height-100 {
  height: 100vh;
}

.center-pos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container,
.container-fluid, .row {
  padding: 0px;
  margin: 0px;
}
